{% extends "base.html" %}

{% load jsonify %}

{% block head %}
	{% include 'header.html' with page="calendar" %}
{% endblock head %}

{% block subhead %}
	{% include 'subheader-search.html'  with page="calendar" %}
{% endblock subhead %}	


{% block mobilemenu %}
	{% include 'mobile_menu.html' with page="calendar" %}
{% endblock mobilemenu %}


{% block content %}
	<section id="calendar">
	</section>
{% endblock content %}


{% block state %}
	<script>
		window.state.venues = {{ venues|jsonify }};
		window.state.days = {{ days|jsonify }};
	</script>
{% endblock state %}

{% block footer %}{% endblock footer %}
