{% load static %}

<header id="head" class="{% if hide_mobile %}hide-mobile{% endif %} {% if page == 'calendar' %}fixed{% endif %}">
	<h1>
		<a href="/">
			<img src="{% static 'showgrid/img/wordmark-black.png' %}" alt="Showgrid Nashville"/>
			<span>Nashville</span>
		</a>
	</h1>

	<menu>
		<ul>
			<li class="calendar {% if page == 'calendar' %}selected{% endif %}">
				<a href="/">
					<span>Calendar</span>
				</a>
			</li>
			<li class="contest {% if page == 'dash' %}selected{% endif %}">
				<a href="/dashboard/">
					<span>Dashboard</span>
				</a>
			</li>
			<li class="featured {% if page == 'featured' %}selected{% endif %}">
				<a href="/show/featured">
					<span>Featured Shows</span>
				</a>
			</li>
			<li class="newsletter {% if page == 'newsletter' %}selected{% endif %}">
				<a href="/newsletter">
					<span>Newsletter</span>
				</a>
			</li>
		</ul>
	</menu>

	<aside class="actions">
		<ul>
			<a id = "profile-button" href="#">

				<li>
					{%if user.is_authenticated == True %}
						{%if user.pic %}
							<div class = 'icon-profile-pic' style = "background:url('/media/{{ user.pic }}'); background-size:cover; background-position:center;"></div>
						{%else%}
							<div class = 'icon-profile-pic' style = "background:url('/static/showgrid/img/avatar.jpg');  background-size:cover; background-position:center;"></div>
						{%endif%}
						
					{% else %}
						<svg class="icon icon-profile"><use xlink:href="#icon-profile"></use></svg>
					{% endif %}
				</li>
			</a>
			<a id="search-toggle" href="#">
				<li>
					<svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
				</li>
			</a>
		</ul>
	</aside>
</header>


