{% load static %}


<header id="head" class="{% if hide_mobile %}hide-mobile{% endif %} {% if page == 'front' %}front{% endif %}">
	<h1>
		<a href="/">
			{% if page == 'front' %}
			<img src="{% static 'showgrid/img/wordmark-white.png' %}" alt="Showgrid Nashville"/>
			{% else %}
			<img src="{% static 'showgrid/img/wordmark-black.png' %}" alt="Showgrid Nashville"/>
			{% endif %}
			<span>Nashville</span>
		</a>
	</h1>

	<menu>
		<ul>
			<li class="calendar {% if page == 'calendar' %}selected{% endif %}">
				<a href="/calendar">
					<span>Calendar</span>
				</a>
			</li>
			<li class="featured {% if page == 'featured' %}selected{% endif %}">
				<a href="/show/featured">
					<span>Featured Shows</span>
				</a>
			</li>
			<li class="contest {% if page == 'contest' %}selected{% endif %}">
				<a href="/contest/">
					<span>Contests</span>
				</a>
			</li>
			<li class="newsletter {% if page == 'newsletter' %}selected{% endif %}">
				<a href="/newsletter">
					<span>Newsletter</span>
				</a>
			</li>
		</ul>
	</menu>

	<aside class="actions">
		<ul>
			<li>
				<a href="/user">
					<svg class="icon icon-profile"><use xlink:href="#icon-profile"></use></svg>
				</a>
			</li>
			<li>
				<a id="search-toggle" href="#">
					<svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
				</a>
			</li>
		</ul>
	</aside>
</header>