{% extends 'base.html' %}

{% load jsonify %}

{% block head %}
	{% include 'header.html' with page="dash"%}
{% endblock head %}

{% block subhead %}
	{% include 'subheader-search.html' with page="dash" %}
{% endblock subhead %}

{% block full %}
	<section>
		<h2>Welcome to the New Showgrid.</h2>
	</section>
{% endblock full %}

{% block aside %}
	<section id="front-playlist">
		<h3>This Weeks Playlist</h3>
		<p>Every Sunday, we pull together tracks from all of the best artists playing in town for the week and put them in a playlist. What you see below is this playlist.</p>
		<iframe class="playlist" src="https://embed.spotify.com/?uri={{ playlist }}&theme=white" width="300" height="400" frameborder="0" allowtransparency="true"></iframe>
	</section>
	<section id="front-recent">

	</section>
	<section id="front-onsale">

	</section>
{% endblock aside %}


{% block main %}
	<section id="front-featured" class="transparent">

	</section>
{% endblock main %}


{% block state %}
<script>
	window.state.featured_shows = {{ featured|jsonify }};
</script>
{% endblock %}