{% load static %}

<ul>
	<li class="calendar {% if page == 'calendar' %}selected{% endif %}">
		<a href="/">
			<svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
			<span>Calendar</span>
		</a>
	</li>
	<li class="featured {% if page == 'featured' %}selected{% endif %}">
		<a href="/show/featured">
			<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			<span>Featured</span>
		</a>
	</li>
	<li class="newsletter {% if page == 'newsletter' %}selected{% endif %}">
		<a href="/newsletter">
			<svg class="icon icon-letter"><use xlink:href="#icon-letter"></use></svg>
			<span>Newsletter</span>
		</a>
	</li>
	<li class="dashboard {% if page == 'dashboard' %}selected{% endif %}">
		<a href="/dashboard">
			<svg class="icon icon-article"><use xlink:href="#icon-article"></use></svg>
			<span>Dashboard</span>
		</a>
	</li>
</ul>