<!--
	profile base is shared by both private and public profiles.

	main difference is that private template has extra options to open the profile settings modal.

	an option to edit alerts 

!-->

{% extends "base.html" %}

{% block header %}
	<title>My Profile</title>
	<meta name="user" content="{user.name}}">
	<meta name="description" content="{{user.bio}}">
	<meta name="keywords" content="follow showgrid user profiles">
{% endblock header %}

{% block content %}
	<div id="profile"></div>
{% endblock content %}
{% block scripts %}
	<script>
		window.operator.renderPrivateProfile();
	</script>
{% endblock scripts %}




