{% extends "base.html" %}

{% load jsonify %}

{% block subhead %}
	{% include 'subheader-search.html' with search_page="true" query=query %}
{% endblock subhead %}

{% block content %}
<section id="search">
	{% if query %}
	<h5><i>Showing search results for</i>: <b>{{ query }}</b></h5>
	{% endif %}
	<section id="search-results">
	</section>
</section>
{% endblock content %}

{% block scripts %}
<script>
	var shows = {{ shows|jsonify }};
</script>
{% endblock scripts %}

{% block footer %}{% endblock footer %}