.DS_STORE

neon/app/wsgi.py
neon/app/settings/prod.py
neon/app/settings/dev.py

*.pyc

.DS_Store
venv/**
neon/temp/**
neon/media/**

neon/client/node_modules
neon/client/.sass-cache



neon/static/showgrid/js/app.bundle.js
neon/static/showgrid/js/app.bundle.js.map
neon/static/showgrid/js/app.bundle.js.gz

neon/static/showgrid/js/vendor.bundle.js
neon/static/showgrid/js/vendor.bundle.js.map
neon/static/showgrid/js/vendor.bundle.js.gz

neon/static/showgrid/css/base.css
neon/static/showgrid/css/base.css.map




neon/venue/migrations
neon/show/migrations
neon/contest/migrations
neon/newsletter/migrations
neon/user/migrations





neon/app/settings/whoosh_index/**


**/**/.DS_Store
