.DS_STORE

*.pyc

.DS_Store
venv/**
neon/temp/**
neon/media/**

neon/client/node_modules

neon/client/.sass-cache
neon/client/js/*.js
neon/client/css/base.css
neon/client/css/*.css.map

neon/static/**/*

neon/venue/migrations/**
neon/show/migrations/**
neon/contest/migrations/**



neon/static/css/*.css
neon/static/js/*.css
neon/client/css/*.css
neon/client/css/*.css.map

neon/client/js/bundle.js
neon/static/showgrid/css/base.css
neon/static/showgrid/css/base.css.map
neon/static/showgrid/js/bundle.js
neon/app/settings/whoosh_index/**

