{% extends "base.html" %}

{% load jsonify %}

{% block content %}
<div id="newsletter-archive">
	<aside class="newsletter-sidebar">
		<section>
			<h4>Enter Contests to Win Free Tickets</h4>
			<p>
				Showgrid Ticket contests will reward those who invite the most people to join Showgrid. Everytime we hold a contest, you will be provided with a link that you can share with friends to let them know about the contest and get them involved with Showgrid.
			</p>
			<p>
				The more you share, the greater your chances of winning!
			</p>
		</section>
	</aside>
	<section id="newsletter-main">
		{% for contest in contests %}
		<a class="issue" href="/contest/{{ contest.id }}">
			<section class="issue list" style="background-image:url('/media/{{ contest.banner }}');">
				<h4 style="width:95%; margin:auto;">{{ contest.title }}</h4>
			</section>
		</a>
		{% endfor %}
	</section>
</div>
{% endblock content %}