#overlay-wrapper{
	position: fixed;
    top:0; left:0;

    width:100vw; height:auto;

    z-index: 9999;
}

.modal-wrapper{
	display:-webkit-flex;
	display:		flex;

	-webkit-align-items:center;
			align-items:center;

	-webkit-justify-content:center;
			justify-content:center;

	position: relative;
	top:0; left:0;

	height:100vh;
}

.modal-overlay {
	position: fixed;
	top:0; left:0;

	width:100vw; height:100vh;


	font-family:'Helvetica', sans-serif;
	font-weight:300;
	
	background: rgba(0,0,0,0);

	z-index: 9998;

	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	@include transition(all 0.3s ease);
}

.overlay-visible{
	background:rgba(0,0,0,0.5);
}


.modal{
	position:relative;

	width:600px; height:500px;

	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;

	background:#ffffff;
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	border-width:10px;
	border-style:solid;
	border-color:black;

	z-index:9999;
	
	-webkit-animation: animation 800ms linear both;
			animation: animation 800ms linear both;

	.icon-close {
		position: absolute;
		left:0; top:0;

		fill:#222222;

		z-index:50;

		@include icon;
	}
}


.modal-error{
	@include center;
	background:#FF2A35;
	color:#fff;

	.icon-close {
		fill:#ffffff;
	}
}

@media screen and (max-width: 800px ) { 
	.modal {
		left:0; top:0;
		
		width:100vw; height:100vh;

		min-width:0px;

		padding:0;

		border-radius:0;

		p {
			width:90%;
			font-size:14px;
			text-align:center;
		}

		
	}
}

@media screen and (max-width: 500px ) {
	.modal {
		left:0; top:0;
		
		width:100vw; height:100vh;
		
		min-width: 0px;
	}

} 