
{% extends "base.html" %}

{% block full %}
	<section id="profile-about">
		{% if profile.pic %}
		<div class = "profile-pic" style="background:url('/media/{{profile.pic}}'); background-size:cover; background-position:center;" >
			<div class='profile-pic-overlay' ></div>
		</div>
		{% else %}
		<div class = "profile-pic profile-pic-default" style="background:url('/static/showgrid/img/avatar.jpg'); background-size:cover; background-position:center;" >

			<div class='profile-pic-overlay'></div>
			<svg>
				<use xlink:href="#icon-settings"/>
			</svg>
		</div>
		{% endif %}
		<div class = "profile-bio">
			
			<div class = "profile-bio-item profile-bio-name">
				{% if profile.name %}
				<span>{{profile.name}}</span>
				{% else %}
					<span>{{profile.email}}</span>
				{% endif %}					
			</div>
			<div class = "profile-bio-item profile-bio-text">
				{% if profile.bio %}
				<p>{{profile.bio}}</p>
				{% else %}
				<p>You have no bio</p>
				{% endif %}
			</div>
			
		</div>
	</section>
{% endblock full %}

{% block main %}
	<section id="profile-activity">
	</section>
{% endblock main %}



{% block aside %}
	<section id="profile-actions">

		<div id = 'newsletter-toggle' class = "profile-actions-option"></div>
		<div class='profile-actions-option'><span><a href = '/user/logout'>logout</a></span></div>
	</section>
{% endblock aside %}