<div class="venue" style="background:{{ venue.primary_color }};">
	<div class="image" style="background-image:url('{{ venue.image }}')"></div>
	<div class="overlay" style="{{ venue.gradient }}">
		<h3 class="name">
			<a style="color:{{ venue.secondary_color }}" href="/venue/{{ venue.id }}">{{ venue.name }}</a>
		</h3>
		
		<a style="color:{{venue.secondary_color}}" href="/venue/{{ venue.id }}">
			<b class="icon icon-th-list-2"></b>
		</a>

		<div  class="address">
	    	<div>
    			{{ venue.address.street }}
	    	</div>
	    	<div>
	    		{{ venue.address.city }},  {{ venue.address.state }} {{ venue.address.zip_code }}
	    	</div>
    	</div>
	</div>
</div>