<!--
	profile base is shared by both private and public profiles.

	main difference is that private template has extra options to open the profile settings modal.

	an option to edit alerts 

!-->

{% extends "base.html" %}

{% block content %}
	<div class="profile">

		<div class="profile-actions">
			{% block profile_private %}
			{% endblock profile_private %}
			{% block profile_public %}
			{% endblock profile_public %}
		</div>

		<div class="profile-info">
			

			<!-- basic profile about info -->
			<div class="profile-about">
				<div class="profile-picture">
					<img class="profile-picture-img" src="{{ user.bio|default:default_pic }}" />
				</div>
				<div class ="profile-name-bio">
					<div class="profile-name">
						{{ user.name|default:"No Name" }}
					</div>
					<div class="profile-bio">
						{{ user.bio|default:"No Bio" }}
					</div>
				</div>
			</div>
			

			<!-- extra info about the profile such as links and stats -->
			<div class="profile-extra">
				<div class = "profile-extra-stats" >
					<span class="profile-joined">
						{{ user.date_joined|date: "F o" }}
					</span>
					<span class="profile-last-login">
						{{ user.last_login|date: "" }}
					</span>
					<span class="profile-last-login">
						{{ user.last_login|date: "" }}
					</span>
					<span class="profile-favorites-count">
						{{ user.favorites_count: "" }}
					</span>
				</div>
				<div class = "profile-extra-links" >
					{% if user.link_facebook != None %}
						<a href= "{{user.link_facebook}}" class="profile-link-facebook">
							<svg><use xlink:href="#icon-facebook"></use></svg>
						</a>
					{% endif %}
				</div>			
			</div>
			

			<!-- basic profile activity -->
			<div class="profile-activity">
				<div class="profile-favorites">
					{% for show in user.favorites %}
						<div class="profile-show">
							<img class="profile-show-image" src="{{ show.banner.local | default:show.banner.url }}"/>
							<div class="profile-show-overlay">
								<div class="profile-show-heart">
									<svg><use xlink:href="#icon-heart"></use></svg>
								</div>
								{% if (show.id in user.alerts) %}
 								<div class="profile-show-alert">
									<svg><use xlink:href="#icon-alert"></use></svg>
								</div>
								{% endif %}
								{% if (show.banner == None) %}
 									<span class="profile-show-date">
										{{show.date}}
									</span>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}


{% block scripts %}
	<script>
		window.operator.hookProfileShows();
	</script>
{% endblock scripts %}

