<!--
	profile base is shared by both private and public profiles.

	main difference is that private template has extra options to open the profile settings modal.

	an option to edit alerts 

!-->

{% extends "base.html" %}

{% block header %}
	<title>my profile</title>
{% endblock header %}

{% block content %}
	<div id="profile"></div>
{% endblock content %}
{% block scripts %}
	<script>
		// window.user.alerts = {{ user.alerts|jsonify }}
		window.operator.renderPrivateProfile();
	</script>
{% endblock scripts %}




