{% extends "base.html" %}

{% load jsonify %}


{% block head %}
	{% include 'header.html' with page="featured" %}
{% endblock head %}


{% block mobilemenu %}
	{% include 'mobile_menu.html' with page="featured" %}
{% endblock mobilemenu %}


{% block content %}
<div id="venue">
	<aside id="venue-sidebar">
		<section>
			<h4>Featured Shows</h4>
			<p>
				Here, we gather together the best that Nashville has to offer. Curated by hand with the help of the music God Apollo, these shows will fill you with awe and wonder.
			</p>
		</section>
	</aside>
	<section id="venue-main">
		<div id="featured-shows"></div>
	</section>
</div>
{% endblock content %}

{% block scripts %}
<script>
	var shows = {{ shows|jsonify }};
</script>
{% endblock scripts %}