@mixin background-size($size) {
	-webkit-background-size: $size;
	   -moz-background-size: $size;
		 -o-background-size: $size;
			background-size: $size;
}

@mixin transition($trans) {
	-webkit-transition: $trans;
	   -moz-transition: $trans;
	     -o-transition: $trans;
			transition: $trans;
}

@mixin transform($trans) {
	-webkit-transform: $trans;
	   -moz-transform: $trans;
		-ms-transform: $trans;
		 -o-transform: $trans;
			transform: $trans;
}

@mixin transition--transform($trans) {
	-webkit-transition: -webkit-transform $trans;
	   -moz-transition:    -moz-transform $trans;
	     -o-transition:      -o-transform $trans;
			transition:			transform $trans;

}

@mixin sharpen--text {
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

	font-smooth: always;

	-moz-osx-font-smoothing: grayscale;
}

@mixin center {
	align-items	: center;
	display		: flex;
	align-content	: center;
	justify-content: center;	
}








@keyframes ease-out {
	0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 500, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 500, 0, 1); }
	1.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 399.717, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 399.717, 0, 1); }
	2.55% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 319.114, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 319.114, 0, 1); }
	3.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 282.728, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 282.728, 0, 1); }
	5.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 172.792, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 172.792, 0, 1); }
	6.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 149.309, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 149.309, 0, 1); }
	8.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 87.659, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 87.659, 0, 1); }
	9.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 72.484, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 72.484, 0, 1); }
	11.96% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 39.555, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 39.555, 0, 1); }
	12.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.079, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.079, 0, 1); }
	15.07% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 15.04, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 15.04, 0, 1); }
	19.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.214, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.214, 0, 1); }
	25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.886, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.886, 0, 1); }
	27.58% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.726, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.726, 0, 1); }
	40.09% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.594, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.594, 0, 1); }
	50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.08, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.08, 0, 1); }
	65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.003, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.003, 0, 1); }
	100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}










@import "generic.normalize";
@import "constants";

@import "page";
@import "header";
@import "footer";

@import "show";

@import "venue";
@import "calendar";
@import "datepicker";
@import "list";
@import "share";



//user profile/modal styles

@import "list";
@import "front";
@import "newsletter";

@import "search";
@import "featured";

@import "set-alert";


@import "contest";









// @import "profile/**/**";
@import "intui";


//reusable css mixins and classes
@import 'reusable/gui';
@import 'reusable/modal';
	
//profile and user related css classes
@import 'profile/auth_modal';
@import 'profile/profile_page';
@import 'profile/alert_modal';
@import 'profile/settings_modal';



