
.alert-modal{
	border:none;
}

@media screen and (max-width: 800px ) {
	.alert-modal{
		margin: 0;
		padding-top: 0;
		width: 100%;
		left: 0;
	}
	
}

@media screen and (max-width: 500px ) {
	.alert-modal{
		margin:0;
		width:100vw; height:100vh !important;
	}
}

.alert-modal-show{
	font-family: "Roboto Slab";
	color: #000;
}

.alert-form {
	position:relative;

	background: #e8e8e8;
	border: 1px solid rgba(0, 0, 0, 0.05);

	padding-left:40px;

	span {
		position:absolute;
		left:14px; top:14px;

		font-size:12px;
	}
}

.alert-modal-select {
	@include input-base;

	width:260px; height:40px;

	margin:0;

	border-radius:0px;
	-webkit-appearance:none;
}


.alert-modal-show-info{
	padding:10px 20px;

	text-align:left;
}

.alert-modal-show-info-datetime {
	font-size: 18px;
	font-weight:500;
	font-family:'Helvetica', sans-serif;
}

.alert-modal-show-info-date-day{
	font-size: 15px;
	opacity: 0.8;
}






.alert-modal-venue-name {
	margin-bottom:5px;

	font-size: 17px;
	font-weight: 800;
	font-family:'Roboto Slab', 'Helvetica', sans-serif;
}

.alert-modal-headliners {
	margin-bottom:8px;
	margin-right:auto;

	font-size: 24px;
	font-weight: 700;
	font-family:'Helvetica', sans-serif;
}

.alert-modal-title,
.alert-modal-openers {
	margin-bottom:8px;
	margin-right:auto;

	font-size: 16px;
	font-family:'Helvetica', sans-serif;
}

.alert-modal-venue-address{
	float:left;
	cursor: pointer;
}





.alert-modal-submit-alert{
	@include center;
	@include input-base;
	height: 40px;
	flex-direction: row;
	background: #FFAA00;
	color:#ffffff;
	fill: #ffffff;
	font-size: 16px;
	font-weight:400;
	cursor: pointer;
	width: 300px;

	padding:0 17.5px;
	margin-top:20px;

	svg{
		width: 20px;
		height: 20px;
	}
	span{
		padding-left: 15px;
		line-height:42px;
	}
}

.alert-modal-submit-option{
	border: none;
	border-radius: 0;
	margin: 0;
	background: none;
	font-size: 15px;
	
}
