.profile{

	position: absolute;
	height: auto;
	width: 100%;
}


.profile-activity-option{
	@include center;
	svg{
		height: 20px;
		width: auto;
	}
}

.profile-activity-title{
	background: #F8F5F2;
	flex-shrink: 10;
}

.profile-actions{
	background: #fff;
	flex-direction: row-reverse;
}
.profile-actions-button{
	@include button-base;
	font-size: 15px;
	color: #E0002F;
	background: #fff;
	line-height: 40px;	
}





/*profile info */
.profile-info{
	background:  #FEFDFA;
	@include center;
	height: auto;
	// @include section;
}

.profile-info-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.profile-info-pic{
	background-size: cover;
	margin: 10px;
	@include section;
	height: 150px;
	width: 150px;
	border-radius: 2px;
	
}

.profile-info-bio{
	margin: 10px;
	@include section;
	@include center;
	position: relative; 
	height: auto;
	width: 50%;
	min-height: 150px;
	text-align: center;
	border-radius: 2px;
	background: #fff;
}


.profile-info-extra{
	@include center;
}

.profile-info-bio-text{
	text-align: center;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
}

.profile-info-bio-quote-left{
	position: absolute;
	left: 10px;
	top:10px;
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	opacity: 0.6;
}

.profile-info-bio-quote-right{
	position: absolute;
	right: 10px;
	bottom:6px;
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	opacity: 0.6;
}




/*extra*/

.profile-info-extra{
	
}

.profile-info-extra-joined{
	@include info;
}	

.profile-info-extra-logged{
	@include info;
}

.profile-info-extra-counter{
	@include info;
}



.profile-activity{

	background:  #F8F5F2;
}



@media screen and (max-width: 500px ) {
	.profile-info-bio{
		width: 95%;
	}
	.profile-info-main{
		@include center;
		flex-direction: column;
		padding: 5px;
	}
	.profile-actions-option{
		padding: 15px;
	}
}






















//favorite and alert items
.profile-alert{
	
}

.profile-alert-icon{
	color: #fff;
	div{
		@include center;
		height: 100%;
		width: 100%;
	}
	svg{
		height: 30%;
		width: auto;
	}
}

.profile-alert-info{
	
}

.profile-alert-info-date{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	background: rgba(0,0,0,0.1);
	color: #3F3F3F;
}
.profile-alert-info-date-day{
	font-size: 15px;
}

.profile-alert-info-date-hour{
	font-size: 30px
}

.profile-alert-info-date-which{
	font-size: 15px;
	color: #FFA700;
}

.profile-favorite{

}




.profile-actions-setup-phone{
	
}

.profile-actions-option-logout{

}


.profile-actions-option-enable{
	div{
		background: #C9FFEC;	
	}

}

.profile-actions-option-disable{
	
}












