// .profile{
// 	position: absolute;
// 	height: auto;
// 	width: 100%;
// 	@include center;
// 	flex-direction: column;
// }






/*top profile actions bar*/
#profile-about{
	align-items: center;
	display: flex;
	flex-direction: row;
	min-height: 200px;
}


.profile-pic{
	position: relative;
	overflow: hidden;
	margin: 15px;
	background: #727272;
	height: 200px;
	width: 200px;
	align-self: center;
	flex-shrink: 0;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	.profile-pic-overlay{
		left: 0;
		top: 0;
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.profile-pic-default{
	svg{
		z-index: 1;
		fill: #fff;
		width: 50px;
		height: 50px;
	}
	.profile-pic-overlay{
		display: block;
		position: absolute;
		background: rgba(0,0,0,0.5);
	}
}

.profile-pic:hover{
	svg{
		z-index: 1;
		fill: #fff;
		width: 50px;
		height: 50px;
	}		
	.profile-pic-overlay{
		display: block;
		position: absolute;
		background: rgba(0,0,0,0.5);

	}	
}




.profile-bio{
	align-self: stretch;
    width: 100%;
}

.profile-bio-item{
	padding: 5px;
	width: 100%;
	min-height: 30px;
	align-self: flex-start;
}
.profile-bio-name{
	font-size: 20px;
}

.profile-bio-text{
	font-size: 14px;
}


.profile-actions-option{
	width: 100%;
	min-height: 25px;
	display: flex;
	align-items: center;
	font-size: 20px;
	justify-content: center;
	padding-left: 15px;
	font-weight: 300;
	
}

.profile-activity-option{
	@include center;
	cursor: pointer;
	padding: 8px;
	padding-bottom: 14px;
	transition: color 0.5s ease, border 0.1s ease;
}

.profile-activity-option-active-favorites{
	border-bottom: 4px solid #FF5451;
	color: #FF5451;
    
}
.profile-activity-option-active-alerts{
	border-bottom: 4px solid #FF8900;
	color: #FF8900;
}

.profile-activity-options{
	width: 100%;
	height: 50px;
	display: flex;
    align-content: stretch;
    justify-content: center;
	span{
		margin: 15px;
		font-family: 'Roboto Slab', serif;
	}
}
.profile-activity-overlay{
	width: 100%;
	display: flex;
	min-height: 300px;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.profile-activity-items{

}


#profile-actions{
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 700px ) {
	#profile-about{
		flex-direction: column;
	}
	.profile-pic{
		height: 100px;
		width: 100px;

	}
	#profile-actions{
    	flex-direction: row;
	}
}














