#calendar {
    width:100vw;

    z-index:97;

    margin-top:61px;
}

#calendar-content {
	padding-top:50px;
}


@media screen and (max-width: 740px) {
	#calendar-content {
		padding-top:60px;
	}
}

@import "calendar_row";