#show-head {
	display:-webkit-flex;
	display:		flex;

	-webkit-justify-content:center;
			justify-content:center;

	-webkit-align-items:center;
			align-items:center;

	-webkit-flex-flow:row wrap;
			flex-flow:row wrap;

	width:100%;

	margin:10px auto 0;

	a {
		display:none;
	}

	.title {
		padding:8px 15px;

		h2 {
			margin:0;

			font-size:20px;
			font-family:'Roboto Slab', serif;
			text-align:left;

			a {
				display:inline;

				color:#ffffff;
				text-decoration:none;
			}

			a:hover {
				text-decoration:underline;
			}
		}
	}

	.date {
		margin-left:auto;
		margin-right:0px;

		color:#ffffff;
		font-size:14px;
		font-weight:300;
		text-align:right;
	}
}

@media screen and (max-width: 740px) {
	#show-head {
		margin:0;

		width:100vw;

		position:relative;
		left:-2.6%;

		a:first-of-type {
			margin-right:auto;
		}

		a:last-of-type {
			margin-left:auto;
		}

		a {
			display:inline;

			width:60px; height:60px;


			.icon-back,
			.icon-more {
				fill:#ffffff;

				width:30px; height:30px;

				margin:15px;
			}
		}

		.title {
			h2 {
				font-size:18px;
				text-align:center;
			}
		}

		.date {
			display:none;
		}
	}
}