

.nav-user-status{
	position: absolute;
	top:0;
	right:0;
	padding:4px;
	font-size: 9px;
	color: #444444;
}

#head {
	position:relative;
	width:100%; height:60px;

	background:#ffffff;
	border-bottom:1px solid #e8e8e8;

	z-index:99;

	h1 {
		float:left;

		margin:0 30px 0 20px;
	}

	h1 a {
		color:#000000;
		font-size:14px;
		font-weight:300;
		line-height:70px;
		text-decoration:none;
		text-transform:uppercase;
	}

	h1 a img {
		margin:18.75px 0 0;
		height:22.5px;
	}

	h1 a span {
		margin-left:15px;

		line-height:60px;
		font-family:'Helvetica', sans-serif;
		vertical-align:top;
	}

	menu {
		float:left;

		margin:0; padding:0;
	}

	menu ul li {
		height:60px;

		padding:0 20px;
	}

	menu ul li.selected {
		a {
			background:rgba(0,0,0,0.075);
		}
	}

	menu ul li a {
		display:block;

		width:100%; height:32px;

		margin:14px auto;
		padding:0 8px;

		font-size:14px;
		font-family:'Roboto Slab', serif;
		font-weight:400;
		line-height:32px;
		text-align:center;

		border-radius:2px;
	}

	menu ul li a svg {
		position:relative;
		top:6px;

		width:22.5px; height:22.5px;

		margin:0 8px 0 0;
	}

	aside {
		float:right;
	}

	ul {
		list-style:none;

		margin:0; padding:0;
	}

	ul li {
		display:inline-block;
	}

	ul li a {
		color:#000000;
		font-size:10px;
		text-decoration:none;
	}

	aside.actions ul li a svg {
		width:22.5px; height:22.5px;

		margin:20px 17.5px 0;
	}

	&.front {
		background:none;
		border-bottom:none;

		h1 a span {
			color:#ffffff;
		}

		ul li a {
			color:#ffffff;
		}

		aside.actions ul li a svg {
			fill:#ffffff;
		}
	}
}

#mobile-menu {
	display:none;
}


@media screen and (max-width: 1000px) {

	#head h1 a span {
		display:none;
	}

	#head aside.actions ul li a svg {
		width:25px; height:25px;

		margin:22.5px 12.5px 0;
	}

	#head menu ul li a {
		font-size:12px;
	}

	#head menu ul li {
		padding:0 20px;
	}
}

@media screen and (max-width: 740px) {

	#head {
		&.hide-mobile {
			display:none;
		}

		aside.social {
			display:none;
		}

		menu {
			display:none;
		}

		h1 a img {
			margin:22.5px 0 0;
			height:20px;
		}

		aside.actions ul li a svg {

			margin:18.75px 20px 0 0;
		}
	}
	

	#mobile-menu {
		position: relative;
		display: block;
		width: 100vw;
		height: 60px;
		text-align: center;
		background: #ffffff;
		border-bottom: 1px solid #e8e8e8;
		z-index: 10;

		ul {
			display:-webkit-flex;
			display:		flex;
			position: absolute;
			width:100%;

			list-style:none;
			padding:0; margin:0;
			
			li {
				-webkit-flex:0 0 25%;
						flex:0 0 25%;

				height:60px;
				
				display:-webkit-flex;
				display:		flex;

				-webkit-align-items:center;
						align-items:center;

				-webkit-justify-content:center;
						justify-content:center;
			}

			li.selected {
				a {
					background:rgba(0,0,0,0.05);
				}

				// a {
				// 	color:#ffffff;
				// }

				// svg {
				// 	fill:#ffffff;
				// }
			}

			// li.calendar.selected {
			// 	a {
			// 		background:rgb(0,222,144);
			// 	}
			// }

			// li.featured.selected {
			// 	a {
			// 		background:#FBBF00;
			// 	}
			// }

			// li.contest.selected {
			// 	a {
			// 		background:#EA6E6F;
			// 	}
			// }

			// li.newsletter.selected {
			// 	a {
			// 		background:#4272f2;
			// 	}
			// }

			li a {
				display:block;

				width:100%; height:100%;

				margin:7.5px auto;
				
				color:#3b3b3b;
				text-align:center;
				text-decoration:none;

				border-radius:2px;
			}

			li a svg {
				display:block;

				width:20px; height:20px;

				margin:12px auto 2px;
			}

			li a span {
				font-size:9px;
				font-family:'Roboto Slab', serif;
				text-decoration:none;
			}
		}
	}
}


@import "subheader";
@import "header_venue";