.show.small {
	width: 100%;

	display:-webkit-flex;
	display:		flex;

	-webkit-justify-content:flex-start;
			justify-content:flex-start;

	-webkit-align-items:center;
			align-items:center;

	padding:12.5px 0;
	
	border-left:0px solid #000000;

	-webkit-transition:border-left 0.2s ease;

	&:hover {
		background:rgba(0,0,0,0.025);
		border-left:5px solid #000000;

		cursor:pointer;
	}

	.date {
		font-weight:300;

		margin:0 15px 0 20px;
	}

	.artists {
		padding:0 8px;

		text-align:left;

		a {
			color:#000000;
			text-decoration:none;

			&:hover {
				text-decoration:none;
			}
		}

		h4 {
			margin:3px 0;

			font-size:14px;
			font-weight:500;
		}

		h5 {
			margin:3px 0;

			font-size:12px;
			font-weight:300;
		}

		i {
			color:rgba(0,0,0,0.65);
			font-size:10px;
			line-height:12px !important;
		}
	}
}