.list {
	padding:0; margin:0;

	list-style:none;
		
	h3 {
		width: 92.5%;
		margin: 0 auto 4px;
		font-size: 16px;
		text-align: left;
	}
}


@media screen and (max-width: 740px) {
	.list {

		.list-item {
			h3.heading {
				width:100%;

				margin:25px auto 4px;

				font-size:16px !important;
			}
		}
	}
}

@import "list_item_lg";
@import "list_item_sm";