.show-actions-wrapper{
    width: 100%;
    display: flex;
    height: 100%;
}
.icon-alert>svg{
	height: 25px;
}
.icon-heart.active{
	fill: #fc3030 !important;
}
.icon-alert.active{
	svg{

		fill: #ff9929 !important;
	}
}
.icon-alert.active.sale{
	svg{
		fill: #4DE47F !important;
	}
}

.list {
	.heading {
		display:block;

		width:100%;

		margin:20px 0 8px;

		color:rgba(0,0,0,0.75);
		font-size:18px;
		font-weight:300;
		text-transform:uppercase;

		
	}

	.list-item:not(:first-of-type) .heading {
		margin-top:60px;
	}

	.show.large {
		position:relative;

		width:100%;

		margin:10px 0;

		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
				box-shadow:0 2px 3px rgba(0,0,0,0.1);

		overflow:hidden;

		-webkit-touch-callout: none; /* iOS Safari */
		  -webkit-user-select: none;   /* Chrome/Safari/Opera */
		  -khtml-user-select: none;    /* Konqueror */
		  -moz-user-select: none;      /* Firefox */
		  -ms-user-select: none;       /* IE/Edge */
		  user-select: none;           /* non-prefixed version, currently */
	       
		-webkit-transform: translateZ(0px);    


		header {
			position:relative;

			height:30px;

			padding:0;

			color:#ffffff;
			line-height:30px;

			a {
				margin-left:12px;
				color:#ffffff;
				text-decoration:none;

				&:hover {
					text-decoration:underline;
					-moz-text-decoration-color:#ffffff;
					text-decoration-color:#ffffff;
				}

				h4 {
					display:inline;
					font-size:14px;
					font-weight:600;
				}
			}

			.date {
				float:right;
				color:rgba(255,255,255,0.8);
				font-size:12px;
				font-weight:500;
				line-height:34px;
				margin-right:15px;
			}
		
			.age {
				float:right;
				width:36px;
				font-size:12px;
				line-height:30px;
				text-align:center;
				background:rgba(0,0,0,0.1);
			}
		}
		
		.compact-header{
			padding: 5px;
			// span{
			// 	margin: 5px;
			// }
			float: right;
		}


		div.info {
			position:relative;

			width:calc(100% - 30px);
			min-height:240px;

			padding:0px 15px 10px;
	
			cursor:pointer;


			a {
				text-decoration:none;
			}

			a:hover h3,
			a:hover h4,
			a:hover h5 {
				text-decoration:none;
			}

			.featured {
				position:absolute;
				top:2px; right:10px;

				height:34px;

				float:right;

				color:#FBBF00;
				font-size:18px;
				font-weight:bold;
				line-height:34px;
    			text-shadow:0px 0px 2px rgba(255,255,255,0.15);

				svg {
					position:relative;
					top:2px;

					margin-right:5px;

					fill:#FBBF00;

					width:20px; height:20px;
				}
			}	

			.artists {
				position:absolute;
				bottom:10px; left:15px;

				width:100%;

				h3, h4, h5 {
					margin:5px 0;

					color:#ffffff;
					font-weight:500;
					text-decoration:none;
				}

				h3 {
					margin:4px 0;
					font-size:22px;
					font-weight:700;
				}

				h4 {
					font-size:14px;
				}

				h5 {
					font-size:16px;
				}
			}

			.overlay {
				position:absolute;
				top:0; left:0;

				width:100%; height:100%;

				z-index:-1;

				-webkit-filter: grayscale(100%);
						filter: grayscale(100%);

				-webkit-transform:scale(1);
					-ms-transform:scale(1);
						transform:scale(1);

				-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
				   -moz-transition:   -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
				    -ms-transition:	   -ms-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
				  		transition:		   transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

				opacity:0.5;

				.bg-img {
					width:100%; height:100%;

					background-size:100%;
					background-repeat:no-repeat;
					background-position:50% 15%;
				}
			}

			&:hover {
				.overlay {
		   			-webkit-transform:scale(1.015);
						-ms-transform:scale(1.015);
		    				transform:scale(1.015);
				
					opacity:0.8;
				}
			}
		}

		footer {
			background:#ffffff;

			height:40px;

			& > div {
				height:100%;

				display:-webkit-flex;
				display:		flex;

				-webkit-flex-flow:row nowrap;
						flex-flow:row nowrap;

				-webkit-align-items:center;
						align-items:center;

				-webkit-justify-content:flex-start;
						justify-content:flex-start;
				
				.col-3 {
					position:relative;

					height:100%;

					-webkit-flex:0 0 25%;
							flex:0 0 25%;

					text-align:center;
					line-height:40px;

					&.alert {
						.alert-box {
							display:none;
							width:100%;
						}
					}

					&.share {
						.share-box {
							display:none;
							width:100%;
						}
					}

					&:hover {
						cursor:pointer;
					}

					& > span {
						position:relative;
						top:-8px;

						color:rgba(0,0,0,0.3);
						font-size:14px;
					}

					svg {
						width:24px; height:24px;

						margin:8px 8px 2px 0;

						fill:rgba(0,0,0,0.3);
					}

					svg.icon-ticket {
						fill:rgb(0,222,144);
					}

					&.active.favorite {
						& > span {
							color:#fc3030;
						}

						svg {
							fill:#fc3030;
						}
					}

					&.active.alert {
						& > span {
							color:#ff9929;
							
							border-bottom: 1px dotted #ff9929;
						}

						svg {
							fill:#ff9929;
						}
					}

					&.active.alert.sale {
						& > span {
							color:rgb(0,222,144);
						}

						svg {
							fill:rgb(0,222,144);
						}
					}

					.ticket {
						color:rgb(0,222,144);
						text-decoration:none;

						&:hover {
							text-decoration:underline;
						}

						.ticket-price {
							.number span {
								position:relative;
								top:-7px;

								color:rgb(0,222,144);
								font-size:18px;
								font-weight:700;
							}
						}
					}

					.soldout {
						position:absolute;
						right:5px; top:5px;

						height:26px; width:auto;

						padding:0 20px;

						color:#ea6e6f;
						font-size:12px;
						line-height:26px;
						font-weight:bold;

						text-align:center;

						border:2px solid #ea6e6f;
						background:transparent;
						border-radius:2px;

						cursor:pointer;
					}

					.onsale {
						position:absolute;
						right:4px;

						height:24px; width:170px;

						margin:4px 0;

						color:#76e6b5;
						font-size:10px;
						font-weight:300;
						line-height:24px;

						text-align:center;

						border:2px solid #76e6b5;
						background:transparent;
						border-radius:2px;

						cursor:pointer;
					}

					.onsale {
						span:first-of-type {
							margin-right:5px;

							font-size:12px;
							font-weight:bold;
						}

						.date {
							font-size:14px;
							font-weight:400;
						}
					}
				}
			}


			& > div.share-active {
				.col-3:not(.share) {
					-webkit-flex:0 0 0px;
							flex:0 0 0px;

					overflow:hidden;
				}

				.col-3.share {
					-webkit-flex:0 0 100%;
							flex:0 0 100%;

					line-height:40px;

					& > svg, & > span {
						display:none;
					}

					.share-box {
						display:-webkit-flex;
						display:		flex;

						-webkit-align-items:center;
								align-items:center;

						-webkit-justify-content:center;
								justify-content:center;
					}
				}
			}


			& > div.dialog-active {
				.col-3:not(.alert) {
					-webkit-flex:0 0 0px;
							flex:0 0 0px;

					overflow:hidden;
				}

				.col-3.alert {
					-webkit-flex:0 0 100%;
							flex:0 0 100%;

					line-height:40px;


					& > svg, & > span {
						display:none;
					}

					.alert-box {
						display:block;
						width:100%;

						select, .actions {
							display:inline-block;
						}

						select {
							margin:0 24px 0 8px;
						}

						.actions {
							margin-left:5%;

							button.set {
								line-height:30px;

								padding:0 18px;
								margin-right:8px;

								color:#ffffff;
								font-size:12px;

								border:none;
								border-radius:2px;
								background:rgb(0,222,144);
							}
							button.cancel {
								line-height:30px;

								padding:0 12px;

								color:#000000;
								font-size:12px;

								border:none;
								border-radius:2px;
								background:rgba(0,0,0,0.1);
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 740px) {
	.list {
		.heading {
			width:95%;

			margin:45px auto 8px;
		}

		.show.large {
			width:95%;  

			margin:10px auto;


			div.info {
				min-height:150px;

				.featured {
					right:15px;

					span {
						display:none;
					}

					svg {
						top:5px; left:10px;

						width:24px; height:24px;
					}
				}


				.artists {
					h3 {
						font-size:18px;
					}

					h4 {
						font-size:12px;
					}

					h5 {
						font-size:14px;
					}
				}



				&:hover {
					.overlay {
			   			-webkit-transform:none;
							-ms-transform:none;
			    				transform:none;
					
						opacity:0.5;
					}
				}
			}

			footer {
				min-height:40px;
				height:auto;

				& > div {
					.col-3 {
						height:40px;

						span {
							display:none;
						}

						.ticket span {
							display:inline;
						}

						svg {
							width:20px; height:20px;

							margin-top:11px;
							margin-right:0;
						}
					}

					.col-3.ticket {
						svg {
							margin-right:8px;
						}

						.ticket-price {
							.number span {
								font-size:14px;
							}
						}
					}
				}

				& > div.dialog-active {
					.col-3 {
						height:auto;
					}

					.col-3.alert {
						.alert-box {
							display:block;
							width:100%;
							text-align:center;

							& > span {
								display:inline-block;
								font-size:10px;
							}

							select {
								font-size:12px;

								margin:0 4px;
							}

							.actions {
								margin-right:5px;
								margin-left:5px;

								button.set {
									padding:0 12px;
									font-size:10px;
								}
								button.cancel {
									padding:0 12px;
									font-size:10px;
								}
							}
						}
					}
				}
			}
		}
	}
}