.user--profile {
	width:80%;
	max-width:1200px;

	margin:20px auto;


	.user--profile-info {
		display:-webkit-flex;
		display: 	flex;

		-webkit-align-items:flex-start;
				align-items:flex-start;

		-webkit-justify-content:center;
				justify-content:center;

		-webkit-flex-flow:row wrap;
				flex-flow:row wrap;

		width:100%;

		padding:20px;

		background:#ffffff;

		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
				box-shadow:0 2px 3px rgba(0,0,0,0.1);


		.user--profile-side {
			-webkit-flex:1 1 50px;
					flex:1 1 50px;

			margin-right:40px;

			section {
				width:100%;

				margin:0 auto 20px;

				text-align:center;

				textarea {
					width:calc(100% - 20px);

					padding:10px;

					font-size:14px;
					text-align:center;

					border:none;
				}

				p {
					margin:45px auto 25px;

					font-size:14px;
					font-weight:300;
					line-height:1.4;

					text-align:justify;
				}

				.newsletter-check {
					display:inline;

					margin-top:20px;
					padding:4px 10px;

					color:#ea6e6f;

					border:2px solid #ea6e6f;
					border-radius:1px;

					input[type=checkbox] {
						margin-right:8px;
					}

					label {
						color:#ea6e6f;
						font-size:14px;
					}

					&.checked {
						border:2px solid #76e6b5;

						label {
							color:#76e6b5;
						}
					}
				}
			}

			img {
				width:100%;

				border:1px solid #e8e8e8;
			}
		}

		.user--profile-main {
			-webkit-flex:1 1 700px;
					flex:1 1 700px;


			section {
				width:calc(100% - 80px);

				margin-bottom:40px;
				padding:0 40px;

				&.top {
					width:100%;

					text-align:right;

					padding:0;

					a {
						color:#4272f2;
						font-weight:700;
						text-decoration:none;
					}
				}

				&.center {
					text-align:center;
				}

				aside {
					width:50%;

					display:inline-block;
				}

				label {
					display:block;

					font-size:14px;
				}

				input[type=text], input[type=password]  {
					display:block;

					margin-top:5px;
					padding:8px 10px;

					font-size:18px;

					border:1px solid #e2e2e2;
					border-radius:1px;
				}

				input.phone {
					padding:12px 15px;

					color:#1ea46a;

					background:#ffffff;
					border-radius:2px;
					border:2px solid #1ea46a;
				}

				input.phone.error {
					color:#ffffff;

					background:#ea6e6f;
					border:2px solid #ea6e6f;
				}

				input.submit {
					position:relative;
					top:20px;

					padding:12px 50px;

					color:#ffffff;

					background:#76e6b5;
					border-radius:2px;
					border:none;
					border-bottom:4px solid #1ea46a;
				}

				input[type=text] {
					width:80%;
				}

				input[type=password] {
					width:50%;
				}
			}
		}
	}
}