#search {
	max-width:800px;

	margin:80px auto 10px;

	h5.search-query {
		font-weight:400;
	}

	.no-results {
		width:100%;

		margin:50px auto 0;

		text-align:center;
	}
	
	.list {
		padding-top:0;

		background:none;
		box-shadow:none;
	}
}

@media screen and (max-width: 740px) {
	#search {
		width:95%;

		h5.search-query {
			width:95%;

			margin:10px auto 17px;
		}

		.no-results {
			width:90%;

			margin:50px auto 0;
		}
	}
}