#show {
	display:-webkit-flex;
	display:		flex;

	-webkit-align-items:flex-start;
			align-items:flex-start;

	-webkit-justify-content:center;
			justify-content:center;

	-webkit-flex-flow:row wrap;
			flex-flow:row wrap;

	width:80%;
	max-width:1200px;

	margin:20px auto;
}

#show-main {
	-webkit-flex:1 1 500px;
			flex:1 1 500px;
}

#show-banner {
	position:relative;
	width:100%; height:350px;

	margin:0 auto;

	.image{
		position:absolute;
		top:0; right:0; bottom:0; left:0;

		opacity:0.4;

		background-size:cover;
	    background-repeat: no-repeat;
	    background-position:0px 0px;

		-webkit-filter:grayscale(1);
	    		filter:grayscale(1);

		z-index:9;
	}
	

	.overlay {
		position:absolute;
		top:0; right:0; bottom:0; left:0;

		z-index:10;

		.featured {
			position:absolute;
			top:2px; right:10px;

			height:34px;

			float:right;

			color:#FBBF00;
			font-size:18px;
			font-weight:bold;
			line-height:34px;
			text-shadow:0px 0px 2px rgba(255,255,255,0.15);

			svg {
				position:relative;
				top:2px;

				margin-right:5px;

				fill:#FBBF00;

				width:20px; height:20px;
			}
		}	

		.show-info {
			position:absolute;
			bottom:17.5px; left:0; right:0;

			.title, .headliners, .openers {
				width:95%;

				margin:4px auto;
			}

			.title {
				font-size:16px;
				font-weight:300;
			}

			.headliners {
				font-size:24px;
				font-weight:600;
			}

			.openers {
				font-size:18px;
				font-weight:300;
			}
		}
	}
}

.mobile-date {
	display:none;
}

#show-actions-wide {
	height:60px; 

	-webkit-flex:1 1 300px;
			flex:1 1 300px;
	
	margin:10px 0 0 0;

	background:#ffffff;

	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
			box-shadow:0 2px 3px rgba(0,0,0,0.1);

	z-index:10;

	& > div {
		height:100%;

		display:-webkit-flex;
		display:		flex;

		-webkit-flex-flow:row nowrap;
				flex-flow:row nowrap;

		-webkit-align-items:center;
				align-items:center;

		-webkit-justify-content:flex-start;
				justify-content:flex-start;
		
		.col-3 {
			position:relative;

			height:100%;

			-webkit-flex:0 0 25%;
					flex:0 0 25%;

			color:rgba(0,0,0,1);
			text-align:center;

			&.alert {
				.alert-box {
					display:none;
					width:100%;
				}
			}

			&:hover {
				cursor:pointer;
			}

			& > span {
				display:block;

				position:relative;
				top:0px;

				font-size:12px;
				color:rgba(0,0,0,0.3);
			}

			svg {
				width:24px; height:24px;

				margin:10px auto 2px;

				fill:rgba(0,0,0,0.3);
			}

			svg.icon-ticket {
				fill:rgb(0,222,144);
			}

			&.active.favorite {
				& > span {
					color:#fc3030;
				}

				svg {
					fill:#fc3030;
				}
			}

			&.active.alert {
				& > span {
					color:#ff9929;
				}

				svg {
					fill:#ff9929;
				}
			}

			&.active.alert.sale {
				& > span {
					color:rgb(0,222,144);
				}

				svg {
					fill:rgb(0,222,144);
				}
			}

			&.share {
				.share-box {
					display:none;
					width:100%;
				}
			}

			.ticket {
				color:rgb(0,222,144);
				text-decoration:none;

				&:hover {
					text-decoration:underline;
				}

				svg {
					width:30px; height:30px;

					margin-top:16px;
					margin-right:8px;
				}

				.ticket-price {
					.number span {
						position: relative;
						top:-10px; right:-8px;

						color:rgb(0,222,144);
						font-size:18px;
						font-weight:700;
					}
				}
			}

			.soldout {
				position:absolute;
				right:8px; top:8px;

				height:38px; width:50%;

				padding:0 20px;

				color:#ea6e6f;
				font-size:16px;
				line-height:38px;
				font-weight:bold;

				text-align:center;

				border:3px solid #ea6e6f;
				background:transparent;
				border-radius:2px;

				cursor:pointer;
			}

			.onsale {
				position:absolute;
				right:4px;

				height:24px; width:170px;

				margin:4px 0;

				color:#76e6b5;
				font-size:10px;
				font-weight:300;
				line-height:24px;

				text-align:center;

				border:2px solid #76e6b5;
				background:transparent;
				border-radius:2px;

				cursor:pointer;
			}

			.onsale {
				span:first-of-type {
					margin-right:5px;

					font-size:12px;
					font-weight:bold;
				}

				.date {
					font-size:14px;
					font-weight:400;
				}
			}
		}
	}


	& > div.share-active {
		.col-3:not(.share) {
			-webkit-flex:0 0 0px;
					flex:0 0 0px;

			overflow:hidden;
		}

		.col-3.share {
			-webkit-flex:0 0 100%;
					flex:0 0 100%;

			line-height:40px;

			& > svg, & > span {
				display:none;
			}

			a {
				height:40px;

				margin:8px 4px;

				line-height:40px;

				svg {
					margin-top:10px !important;
				}

				span {
					top:6px;
				}
			}

			.cancel {
				-webkit-flex:0 0 15%;
						flex:0 0 15%;
			}

			.share-box {
				display:-webkit-flex;
				display:		flex;

				-webkit-align-items:center;
						align-items:center;

				-webkit-justify-content:center;
						justify-content:center;
			}
		}
	}


	& > div.dialog-active {
		.col-3:not(.alert) {
			-webkit-flex:0 0 0px;
					flex:0 0 0px;

			overflow:hidden;
		}

		.col-3.alert {
			-webkit-flex:0 0 100%;
					flex:0 0 100%;

			line-height:60px;


			& > svg, & > span {
				display:none;
			}

			.alert-box {
				display:block;
				width:100%;

				select, .actions {
					display:inline-block;
				}

				select {
					margin:0 24px 0 8px;
				}

				.actions {
					margin-left:5%;

					button.set {
						line-height:35px;

						padding:0 18px;
						margin-right:8px;

						color:#ffffff;
						font-size:12px;

						border:none;
						border-radius:2px;
						background:rgb(0,222,144);
					}
					button.cancel {
						line-height:35px;

						padding:0 12px;

						color:#000000;
						font-size:12px;

						border:none;
						border-radius:2px;
						background:rgba(0,0,0,0.1);
					}
				}
			}
		}
	}
}


#show-artists {
	width:340px;

	padding:10px 0;
	margin:10px 10px 0 0;

	background:#ffffff;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
			box-shadow:0 2px 3px rgba(0,0,0,0.1);

	h4 {
		margin:10px auto 5px;
		text-align:left;
		width:90%;
	}

	ul {
		list-style:none;
		margin:0 auto; padding:0;

		width:90%;

		li {
			display:-webkit-flex;
			display:		flex;

			-webkit-flex-flow:row nowrap;
					flex-flow:row nowrap;

			-webkit-align-items:center;
					align-items:center;

			margin:0; padding:0;

			height:40px;

			margin:20px 0;

			.pic {
				-webkit-flex:0 0 35px;
						flex:0 0 35px;

				height:35px;
				background:gold;

				margin-right:18px;
			}

			.name {
				-webkit-flex:1 1 100px;
						flex:1 1 100px;

				font-family:'Roboto Slab', serif;
				text-align:left;
			}

			.social {
				-webkit-flex:0 0 80px;
						flex:0 0 80px;

				text-align:right;

				a {
					text-decoration:none;
				}

				svg {
					fill:rgba(0,0,0,0.3);

					width:18px; height:18px;
					margin:12px 2px;
				}
			}
		}
	}
}


@media screen and (max-width: 740px) {
	#show {
		position:absolute;

		width:100%;

		margin:0;

		z-index:100000;
	}

	#show-actions-wide {
		display:none;
	}

	#show-sidebar {
		-webkit-flex:0 0 100%;
				flex:0 0 100%;

		margin-right:0;
	}

	#show-main {
		-webkit-flex:0 0 100%;
				flex:0 0 100%;

		margin-left:0;
	}

	#show-banner {
		position:relative;
		width:100%; height:240px;


		.image{
		    background-position:50%;
		}
		

		.overlay {
			position:absolute;
			top:0; right:0; bottom:0; left:0;

			z-index:10;

			.featured {
				top:-8px; right:15px;

				span {
					display:none;
				}

				svg {
					top:5px; left:10px;

					width:24px; height:24px;
				}
			}

			.show-info {
				bottom:15px;

				.title, .headliners, .openers {
					width:92.5%;

					margin:4px auto;
				}

				.title {
					font-size:12px;
					font-weight:300;
				}

				.headliners {
					font-size:20px;
					font-weight:600;
				}

				.openers {
					font-size:16px;
					font-weight:300;
				}
			}
		}
	}

	.mobile-date {
		display:block;

		width:95%;

		padding:12px 0;
		margin:10px auto 0;

		background:#ffffff;
		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
				box-shadow:0 2px 3px rgba(0,0,0,0.1);

		color:rgba(0,0,0,0.5);
		font-size:14px;
		font-weight:300;
		text-align:center;
	}

	#show-artists {
		width:95%;
	
		margin:10px auto;
	}

	#show-actions  {
		min-height:60px;
		height:auto;


		& > div {
			display:-webkit-flex;
			display:		flex;

			-webkit-flex-flow:row nowrap;
					flex-flow:row nowrap;

			-webkit-align-items:center;
					align-items:center;

			-webkit-justify-content:flex-start;
					justify-content:flex-start;

			width:100%; min-height:60px;

			z-index:10;


			.col-3 {
				height:60px;
				
				position:relative;

				height:100%;

				-webkit-flex:0 0 25%;
						flex:0 0 25%;

				color:rgba(0,0,0,1);
				text-align:center;


		  		&:nth-of-type(1) {
					-webkit-animation: animation 1000ms linear both 0ms;
			  				animation: animation 1000ms linear both 0ms;
		  		}

		  		&:nth-of-type(2) {
					-webkit-animation: animation 1000ms linear both 50ms;
			  				animation: animation 1000ms linear both 50ms;
		  		}

		  		&:nth-of-type(3) {
					-webkit-animation: animation 1000ms linear both 100ms;
			  				animation: animation 1000ms linear both 100ms;
		  		}

		  		&:nth-of-type(4) {
					-webkit-animation: animation 1000ms linear both 400ms;
			  				animation: animation 1000ms linear both 400ms;
		  		}

				&:hover {
					cursor:pointer;
				}

				& > span {
					width:100%;

					display:block;

					position:relative;
					top:0px;
					
					color:rgba(0,0,0,0.3);
					font-size:10px;
					font-family:'Roboto Slab', serif;
  					white-space:nowrap;
  					text-overflow: ellipsis;
  					overflow: hidden;
				}

				svg {
					width:21px; height:21px;

					margin:8px 0 2px 0;

					fill:rgba(0,0,0,0.3);
				}

				&.alert {
					.alert-box {
						display:none;
						width:100%;
					}
				}

				&.share {
					.share-box {
						display:none;
						width:100%;
					}
				}

				&:hover {
					cursor:pointer;
				}

				&.active.favorite {
					& > span {
						color:#fc3030;
					}

					svg {
						fill:#fc3030;
					}
				}

				&.active.alert {
					& > span {
						color:#ff9929;
						
						border-bottom: 1px dotted #ff9929;
					}

					svg {
						fill:#ff9929;
					}
				}

				&.active.alert.sale {
					& > span {
						color:rgb(0,222,144);
					}

					svg {
						fill:rgb(0,222,144);
					}
				}

				a.ticket {
					color:rgb(0,222,144);

					svg {
						fill:rgb(0,222,144);

						width:25px; height:25px;

						margin-top:4px;
						margin-right:10px;
					}

					.ticket-price {
						position:relative;
						top:-6px;

						display:inline-block;

						span.number {
							color:rgb(0,222,144);
							font-size:18px;
							font-weight:700;
						}
					}
				}

				.soldout {

					height:30px; width:80%;

					padding:0;
					margin:5px auto;

					color:#ea6e6f;
					font-size:12px;
					line-height:30px;
					font-weight:bold;

					text-align:center;

					border:2px solid #ea6e6f;
					background:transparent;
					border-radius:2px;

					cursor:pointer;
				}
			}
		}


		& > div.share-active {
			.col-3 {
				height:auto;
			}

			.col-3:not(.share) {
				-webkit-flex:0 0 0px;
						flex:0 0 0px;

				overflow:hidden;
			}

			.col-3.share {
				-webkit-flex:0 0 100%;
						flex:0 0 100%;

				line-height:40px;

				& > svg, & > span {
					display:none;
				}

				.share-box {
					display:-webkit-flex;
					display:		flex;

					-webkit-align-items:center;
							align-items:center;

					-webkit-justify-content:center;
							justify-content:center;
				}

				a {
					-webkit-flex:1 1 20%;
							flex:1 1 20%;

					height:45px;

					margin:0 5px;
					padding:0;

					svg {
						margin-top:13px !important;
						margin-right:0 !important;
						margin-left:0 !important;
					}

					span {
						display:none;
					}
				}

				.cancel {
					-webkit-flex:0 0 20%;
							flex:0 0 20%;

					margin:0;

					display:inline-block !important;
				}
			}
		}


		& > div.dialog-active {
			.col-3 {
				height:auto;
			}

			.col-3:not(.alert) {
				-webkit-flex:0 0 0px;
						flex:0 0 0px;

				overflow:hidden;
			}

			.col-3.alert {
				-webkit-flex:0 0 100%;
						flex:0 0 100%;

				line-height:40px;


				& > svg, & > span {
					display:none;
				}

				.alert-box {
					display:block;
					width:100%;

					select, .actions {
						display:inline-block;
					}

					select {
						margin:0 5px;

						font-size:12px;
					}

					span {
						font-size:10px
					}

					.actions {
						margin-left:10px;

						button.set {
							line-height:30px;

							padding:0 12px;
							margin-right:8px;

							color:#ffffff;
							font-size:12px;

							border:none;
							border-radius:2px;
							background:rgb(0,222,144);
						}
						button.cancel {
							line-height:30px;

							padding:0 12px;

							color:#000000;
							font-size:12px;

							border:none;
							border-radius:2px;
							background:rgba(0,0,0,0.1);
						}
					}
				}
			}
		}
	}
}

@import "header_show";

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
  2.6% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 197.435, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 197.435, 0, 1); }
  5.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 121.264, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 121.264, 0, 1); }
  7.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.808, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.808, 0, 1); }
  10.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30.755, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30.755, 0, 1); }
  15.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.381, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.381, 0, 1); }
  20.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.747, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.747, 0, 1); }
  34.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.601, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.601, 0, 1); }
  48.85% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.156, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.156, 0, 1); }
  77.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
  2.6% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 197.435, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 197.435, 0, 1); }
  5.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 121.264, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 121.264, 0, 1); }
  7.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.808, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.808, 0, 1); }
  10.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30.755, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30.755, 0, 1); }
  15.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.381, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.381, 0, 1); }
  20.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.747, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.747, 0, 1); }
  34.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.601, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.601, 0, 1); }
  48.85% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.156, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.156, 0, 1); }
  77.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}