#venue {
	display:-webkit-flex;
	display:		flex;

	-webkit-align-items:flex-start;
			align-items:flex-start;

	-webkit-justify-content:center;
			justify-content:center;

	-webkit-flex-flow:row wrap;
			flex-flow:row wrap;

	width:80%;

	margin:0 auto;
}

#venue-sidebar {
	-webkit-flex:0 0 350px;
			flex:0 0 350px;

	margin-right:15px;

	section {
		min-height:160px;

		padding:20px 0;
		margin:20px auto;

		text-align:center;

		background:#ffffff;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

		p {
			width:85%;
		
			margin:0px auto 15px;
		
			font-size:16px;
			font-weight:200;
			line-height:1.5;
			text-align:justify;
		}
	}
}

#venue-main {
	-webkit-flex:1 1 500px;
			flex:1 1 500px;
}

#venue-script {
	width:310px;

	padding:20px;
	margin:16px auto 8px;

	font-size:12px;
	font-weight:300;
	line-height:1.42;

	background:#ffffff;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
			box-shadow:0 2px 3px rgba(0,0,0,0.1);


	h4 {
		margin:0 0 8px 0;

		font-size:16px;
	}
}

#venue-banner {
	position:relative;
	width:350px; height:302px;

	margin:0 auto;

	.image{
		position:absolute;
		top:0; right:0; bottom:0; left:0;

		opacity:0.4;

		background-size:cover;
	    background-repeat: no-repeat;
	    background-position:50% 50%;

		-webkit-filter:grayscale(1);
	    		filter:grayscale(1);

		z-index:9;
	}
	

	.overlay {
		position:absolute;
		top:0; right:0; bottom:0; left:0;

		z-index:10;

		.info {
			position:absolute;
			bottom:5px; left:0; right:0;

			padding:10px 15px;
			
			.address {
				display:inline-block;

				color:rgba(255,255,255,0.7);
				font-size:12px;
				text-align:left;
			}

			.social {
				position:absolute;
				right:15px;

				display:inline-block;

				a {
					margin:0 5px;
					text-decoration:none;
				}

				svg {
					fill:rgba(255,255,255,0.7);

					width:20px; height:20px;
				}
			}
		}
	}
}


@media screen and (max-width: 740px) {
	#venue {
		position:absolute;

		width:100%;

		z-index:100000;
	}

	#venue-sidebar {
		-webkit-flex:0 0 100%;
				flex:0 0 100%;

		margin-right:0;

		section {
			width:95%;

			margin:20px auto;

			p {
				font-size:14px;
			}
		}
	}

	#venue-main {
		-webkit-flex:0 0 100%;
				flex:0 0 100%;

		margin-left:0;
	}

	#venue-script {
		width:calc(95% - 40px);
	}

	#venue-banner {
		position:relative;
		width:100%; height:220px;


		.image{
			position:absolute;
			top:0; right:0; bottom:0; left:0;

			opacity:0.4;

			background-size:cover;
		    background-repeat: no-repeat;
		    background-position:50% 50%;

			-webkit-filter:grayscale(1);
		    		filter:grayscale(1);

			z-index:9;
		}
		

		.overlay {
			position:absolute;
			top:0; right:0; bottom:0; left:0;

			z-index:10;


			.show-info {
				position:absolute;
				bottom:10px; left:0; right:0;

				.title, .headliners, .openers {
					width:92.5%;

					margin:4px auto;
				}

				.title {
					font-size:14px;
					font-weight:300;
				}

				.headliners {
					font-size:20px;
					font-weight:600;
				}

				.openers {
					font-size:16px;
					font-weight:300;
				}
			}
			

			.info {
				position:absolute;
				bottom:5px; left:0; right:0;

				padding:10px 15px;
				
				.address {
					display:inline-block;

					color:rgba(255,255,255,0.7);
					font-size:12px;
					text-align:left;
				}

				.social {
					position:absolute;
					right:15px;

					display:inline-block;

					a {
						margin:0 5px;
						text-decoration:none;
					}

					svg {
						fill:rgba(255,255,255,0.7);

						width:20px; height:20px;
					}
				}
			}
		}
	}	

	#venue-banner.show {
		height:240px;
	}
}