{% extends "base.html" %}

{% load jsonify %}

{% block head %}
	{% include 'header.html' with page="contest" %}
{% endblock head %}


{% block mobilemenu %}
	{% include 'mobile_menu.html' with page="contest" %}
{% endblock mobilemenu %}


{% block aside %}
	<section>
		<h3>Enter Contests to Win Free Tickets</h3>
		<p>
			Showgrid Ticket contests will reward those who invite the most people to join Showgrid. Everytime we hold a contest, you will be provided with a link that you can share with friends to let them know about the contest and get them involved with Showgrid.
		</p>
		<p>
			The more you share, the greater your chances of winning!
		</p>
	</section>
{% endblock aside %}


{% block main %}
	{% for contest in contests %}
	<a class="issue" href="/contest/{{ contest.id }}">
		<section class="issue list" style="background-image:url('/media/{{ contest.banner }}');">
			<h4 style="width:95%; margin:auto;">{{ contest.title }}</h4>
		</section>
	</a>
	{% endfor %}
{% endblock main %}